// Font
// $cPrime : 'Courier Prime', monospace;
$nova : 'Nova Mono', monospace;
$open-sans : 'Open Sans', sans-serif;

// Colors
$color-1 : #000;
$color-2 : #fff;
$color-3 : #222;
$color-4 : #a7a7a7;
$color-5 : #a83131;
$color-6 : #787878;